<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.white.whitemusic">
    <!-- 添加权限 APP获取读取本地文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 添加权限 APP写入本地文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Activity 注册 -->
    <!--android:icon / android:roundIcon 图标-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.WhiteMusicListActivity" />
        <activity android:name=".activity.WhiteMusicPlayActivity" />
        <activity android:name=".activity.WhiteMusicMainActivity" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.anddle.PlayListContentProvider"
            android:enabled="true"
            android:exported="true" />

        <!--声明新创建的Service-->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>


</manifest>